 <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>login</title>
    </head>
    <body>
    login

    <hr>
    获取项目的context-path-->${ctxPath}
    <hr>
    <form action="subLogin" method="post">
    	name:<input type="text" name="username"/><br/>
    	password:<input type="password" name="passWord"/><br/>
    	<input type="checkbox" name="rememberMe">记住密码<br/>
    	<input type="submit" value="tijiao"/>
    </form>

    </body>
    </html>